<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Spring MVC GeekApp</title>
    </head>
    <body>
        <!--/*@thymesVar id="task" type="erth.lab.entities.Task"*/-->
        <h1>Добавить задачу</h1>
        <form th:action="@{/add_task}" th:object="${task}" method="POST">
            <table border="1">
                <tr>
                    <td>Name</td><td><input th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td>Owner</td><td><input th:field="*{ownerName}"/></td>
                </tr>
                <tr>
                    <td>Executor</td><td><input th:field="*{executorName}"/></td>
                </tr>
                <tr>
                    <td>Description</td><td><input th:field="*{description}"/></td>
                </tr>
            </table>
            <br>
            <a th:href="@{/}"><input type="button" value="Отмена" /></a>
            <input type="submit" value="Создать" />
        </form>
    </body>
</html>
